body {
    background-image: url("../images/background.jpg")
}

h1 {
    font-size: 72px;
    font-weight: bold;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-align: center;
    color: blue;
    margin-top: 100px;
}

h2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 42px;
    margin-top: 28px;
    text-align: center;
    color: white;
}

h3 {
    font-size: 28px;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}